include README.md
include LICENSE
include requirements.txt
include requirements-test.txt
include *.sh
include CLAUDE.md
include ANALYSIS.md
include GETTING_STARTED.md

recursive-include pasd *.py *.yaml *.yml *.json
recursive-include examples *.png *.jpg *.jpeg
recursive-include checkpoints *.json *.txt

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.so
global-exclude .git*
global-exclude .claude*